@import '../../styles/config/variables';

.categories {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2.438rem;

    .container-catagories {
        height: auto;
        margin-top: 30px;
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
            background: none;
            border: none;
            display: flex;
            gap: 22px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            transition: .3s ease-in-out;
            cursor: pointer;
            font-weight: 500;
            font-family: Poppins, sans-serif;

            span {
                color: $c-blue;
                
            }

            &:hover {
                color: $c-blue;
            }

            &:focus {
                background-color: transparent;
            }

            i {
                background-color:#F4F4F4;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
                border: none;
                width: 128px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-size: 61px;
                height: 128px;
            }
        }
    }
}