@import '../../styles/config/variables';

.loading,
.error {
    text-align: center;
    padding: 3rem;
    color: $c-gray-500;
    font-size: 16px;
}

.error {
    color: #dc3545;
}

.products-carousel {
    position: relative;
    display: flex;
    align-items: center;

    .carousel-arrow {
        background: white;
        transform: translateY(-50%);
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;

        &.prev {
            margin-right: 0.5rem;
        }

        &.next {
            margin-left: 0.5rem;
            right: 0;
        }

        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
            font-size: 24px;
        }
    }

    .carousel-container {
        flex: 1;
        overflow: hidden;
        padding: 1rem 0.5rem;


        .products-grid {
            display: grid;
            grid-auto-flow: column;
            gap: 18px;
            transition: transform 0.5s ease-in-out;
            grid-auto-columns: calc(25% - 14px);
            
            @media (max-width: 1024px) and (min-width: 769px) {
                grid-auto-columns: calc(33.333% - 12px);
                gap: 16px;
            }
            
            @media (max-width: 768px) {
                grid-auto-columns: calc(50% - 9px);
                gap: 12px;
            }
            
            @media (max-width: 480px) {
                grid-auto-columns: 100%;
                gap: 0;
            }
        }
    }

    .carousel-dots {
        position: absolute;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 0.8rem;

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: none;
            background-color: #D9D9D9;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color: #B0B0B0;
            }

            &.active {
                background-color: $c-blue;
                width: 32px;
                border-radius: 6px;
            }
        }
    }
}