@import '../../../styles/config/variables';

.container-header-center {
    @media (max-width: 1180px) {
        justify-content: space-between;
    }

    height: 72px;

    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-evenly;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;


    .container-header-left-content {
        img {
            width: 139px;
            height: 50px;
        }
    }


    .container-header-center-content {
        @media (max-width: 800px) {
            display: none;
        }

        width: 656px;
        height: 48px;

        position: relative;

        input {
            width: 100%;
            height: 100%;
            padding: 13px;
            border-radius: 10px;
            border: none;
            background-color: $c-gray-100;
            color: $c-gray-500;
            font-size: 14px;
            font-weight: 500;
        }

        i {
            display: block;
            font-size: 28px;
            position: absolute;
            right: 13px;
            top: 50%;
            transform: translateY(-42%);
        }
    }

    .container-header-right-content {
        display: flex;

        .buttons-right-content {
            @media (max-width: 1180px) {
                display: none;
            }

            display: flex;
            gap: 35px;

            button {
                border: none;
                background: none;
                cursor: pointer;

                i {
                    display: block;
                    font-size: 24px;
                }
            }
        }
    }
}