@import '../../styles/config/variables';

.products-section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;

    @media (max-width: 768px) {
        padding: 2rem 1.5rem;
    }

    .products-container {
        padding-bottom: 4rem;

        .products-title {
            position: relative;

            hr {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 1px;
                border-color: $c-gray-200;
                border-style: double;
            }

            h2 {
                position: relative;
                background-color: $c-white;
                width: fit-content;
                padding: 0 34px;
                z-index: 1;
                margin: 0 auto;
                color: $c-blue;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 2rem;
                text-align: center;
    
                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }
        }


        .products-tabs {
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
            width: 100%;

            @include mobile {
                flex-direction: column;
            }

            .tab-button {
                width: 100%;
                height: 40px;
                background: none;
                border: 1px solid #BDBDBD;
                cursor: pointer;
                font-size: 16px;
                transition: .3s ease-in-out;

                &:hover {
                    border-color: $c-blue;
                    color: $c-blue;
                }

                &.active {
                    color: $c-blue;
                    font-weight: 600;
                }
            }
        }

    }
}